<!-- Start Home SDG Navigation Section -->
<section>
	<div class="home-sdg-nav">
		<div class="container-fluid">
			<div class="container">

				<h2 class="home-sdg-nav-title"><%= t('home.sdg-nav.heading') %></h2>

				<p><%= t('home.sdg-nav.sub-heading_html') %></p>

				<ul class="row home-sdg-nav-list">
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/02.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/03.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/04.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/05.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/06.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/07.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/08.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/09.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/10.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/11.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/12.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/13.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/14.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/15.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/16.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
						<%= image_tag asset_path("sdg-icons/17.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>
<!-- End Home SDG Navigation Section -->
