<!-- Start Search Section -->
<section>
	<div class="home-search">
		<div class="container-fluid">
			<div class="container">

				<div class="row justify-content-center align-items-center">
					<div class="col-lg-5 col-md-6 col-lg-4 mt-0 order-md-2 align-self-start">

						<%= image_tag("sdg-logo/sdg-logo.png", alt: "", class: "img-fluid") %>

					</div>
					<div class="col-lg-7 col-9 col-md-4  pt-5 pt-md-0">

						<h2 class="display-4 font-weight-normal"><%= t('home.search.heading') %></h2>

						<p class="lead font-weight-normal py-5"><%= t('home.search.blurb') %></p>
					</div>
				</div>

				<div class="row">
					<div class="col-12">

						<!-- TODO: Make the buttons block in small view -->
						<form>
							<div class="form-row align-items-center">
								<div class="col-6">
									<input type="text" class="form-control form-control-lg" placeholder="<%= t('home.search.placeholder') %>">
								</div>

								<div class="col-3 my-1">
									<!-- <label class="mr-sm-2" for="inlineFormCustomSelect">SDGs:</label> -->
									<select class="custom-select custom-select-lg form-control mr-sm-2" id="inlineFormCustomSelect">
										<option value="0" selected>All SDGs...</option>
										<% SustainableDevelopmentGoal.all.each do |sdg| %>
											<option value="<%= sdg.id %>"><%= sdg.banner_en %> (<%= sdg.code %>)</option>
										<% end %>
									</select>
								</div>
								<div class="col-3">
									<button type="submit" class="btn btn-lg btn-success mb-2 btn-block">Search</button>
								</div>
							</div>
						</form>

					</div>

				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Search Section -->
