<!-- Start Search Section -->
<section>
	<div class="home-search">
		<div class="container-fluid">
			<div class="container">

				<div class="row justify-content-center align-items-center">
					<div class="col-6 col-sm-7 col-md-6 col-lg-5 mt-0 order-md-2 align-self-start">

						<%= image_tag("sdg-logo/sdg-logo.png", alt: "", class: "img-fluid") %>

					</div>
					<div class="col-12 col-md-4 col-lg-7 pt-md-0">

						<h2 class="font-weight-normal py-2"><%= t('home.search.heading') %></h2>

						<p class="lead font-weight-normal py-1 py-md-2"><%= t('home.search.blurb') %></p>
					</div>
				</div>

				<div class="row">
					<div class="col-12">

						<!-- TODO: Make the buttons block in small view -->
						<%= form_tag(profiles_path, method: "get") do %>
							<div class="form-row align-items-center">
									<div class="col-md-7">
										<%= text_field_tag 'q', nil,  :value => ""  , placeholder: t('home.search.placeholder'), class: "form-control"  %>
									</div>
									<div class="col-md-3 my-3 my-md-1">
										<select class="custom-select form-control mr-sm-2" name="a">
											<option value="0" selected><%= t('home.search.sdg_dropdown') %></option>
												<% if I18n.locale == :en %>
													<%= options_from_collection_for_select(SustainableDevelopmentGoal.all, :id, :banner_en ) %>
												<% elsif I18n.locale == :fr %>
													<%= options_from_collection_for_select(SustainableDevelopmentGoal.all, :id, :banner_fr ) %>
												<% end %>
										</select>
									</div>
									<div class="col-md-2">
										<%= submit_tag t('home.search.button'),  { name: nil , class: "btn btn-success btn-block" }  %>
									</div>
							</div>
						<% end %>

					</div>

				</div>

				<div class="mt-1">
					<%= link_to t('home.advanced-search.link') , profiles_path(:z => "t") %>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Search Section -->
