<!-- Start Home SDG Navigation Section -->
<section>
	<div class="home-sdg-nav">
		<div class="container-fluid">
			<div class="container">

				<h2 class="home-sdg-nav-title"><%= t('home.sdg-nav.heading') %></h2>

				<p><%= t('home.sdg-nav.sub-heading_html') %></p>

				<ul class="row home-sdg-nav-list">

					<% SustainableDevelopmentGoal.all.each do |sdg| %>
						<li class="col-6 col-sm-4 col-md-3 col-lg-2 py-4">
							<%= link_to profiles_path(:a => sdg.id.to_s) do %>
								<%= image_tag asset_path("sdg-icons/" + sdg.code.to_s + ".png"), { class: "img-fluid" , alt: "" }  %>
								<span class="sr-only">
									<% if I18n.locale == :en %>
										<%#
										 TO DO: Add additional text to this hidden link
										#%>
										<%= sdg.banner_en %>
									<% elsif I18n.locale == :fr %>
										<%= sdg.banner_fr %>
									<% end %>
								</span>
							<% end %>
						</li>
   					<% end %>

				</ul>

			</div>
		</div>
	</div>
</section>
<!-- End Home SDG Navigation Section -->
