<!-- Start Home SDG Navigation Section -->
<section>
	<div class="home-sdg-nav">
		<div class="container-fluid">
			<div class="container">

				<h2 class="home-sdg-nav-title"><%= t('home.sdg-nav.heading') %></h2>

				<p><%= t('home.sdg-nav.sub-heading') %></p>

				<ul class="row list-unstyled">
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/02-box.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
					<li class="col-2">
						<%= image_tag asset_path("sdg-icons/01.png"),  { :class => "img-fluid" , alt: "" } %>
					</li>
				</ul>

				<div class="row align-items-center pt-5">

					<div class="col-12">
						<div class="bg-white py-5 px-5">
							<h2></h2>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Home SDG Navigation Section -->
