<div class='nested-fields'>

	<%= label_tag(:organisation_ids, "Affiliation Organisations:") %>

	<div class="form-group">
		<% if I18n.locale == :en %>
			<%= f.collection_select :organisation_id, Organisation.all ,:id,:english, {}, { class: "form-control" } %>
		<% elsif I18n.locale == :fr %>
			<%= f.collection_select :organisation_id, Organisation.all ,:id,:french, class: "form-control" %>
		<% end %>
	</div>

	<% if false %>
	<div class="row" id='positions'>
		<div class="col-md-11 offset-md-1">
			<%= f.fields_for :affiliation_positions do |position| %>
				<%= render 'position_fields', :f => position %>
			<% end %>

			<div class='links'>
				<%= link_to_add_association 'add position', f, :positions %>
			</div>
		</div>
  	</div>
	<% end %>

	<br />

	<div class="border-bottom py-3">
    	<%= link_to_remove_association "remove affiliation", f , class: "btn btn-outline-danger" %>
	</div>
</div>
