
<%= form_for @profile do |f| %>

	<%#
		If the user is an admin:

		We need to know if the admin wants to associate this
		new profile to themselves or

		This happens both with edit and new

	#%>
	<% if local_assigns[:new_profile] %>

		<% if new_profile %>

			<% if @user_is_admin %>

				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading">Welcome Admin</h4>

						<p class="mb-0">You are creating a new profile which will be added to the database!</p>

				<% unless @admin_has_own_profile %>

						<hr>

						<p class="mb-3">Would you like this profile to be associated to your admin user account?</p>

						<div class="form-check">
							<input class="form-check-input" type="radio" name="admin_link_profile" id="admin_link_profile_false" value="false" checked>
							<label class="form-check-label" for="admin_link_profile_false">
								This profile is for someone else. Do not link this to my admin user account.
							</label>
						</div>

						<div class="form-check">
							<input class="form-check-input" type="radio" name="admin_link_profile" id="admin_link_profile_true" value="true" >
							<label class="form-check-label" for="admin_link_profile_true">
								Link this profile to my account
							</label>
						</div>

				<% end %>


				</div>

			<% end %>

		<% end %>

	<% end %>

	<div class="card-style-1">

		<h2 class="h4"><%= t('profile.headings.section.contact') %></h2>

		<%#
			Name
		#%>
		<div class="form-row">
			<div class="form-group col-lg-3">
				<%= label_tag(:prefix, t('profile.details.prefix.description')) %>
				<% if I18n.locale == :en %>
					<%= f.collection_select(:prefix_id, Prefix.all, :id, :english,
								{include_blank: true, :include_hidden => false},
								{multiple: false, class: "form-control"}) %>

				<% elsif I18n.locale == :fr %>
					<%= f.collection_select(:prefix_id, Prefix.all, :id, :french,
								{include_blank: true, :include_hidden => false},
								{multiple: false, class: "form-control"}) %>
				<% end %>
			</div>
			<div class="form-group col-lg-3">
				<%= label_tag(:firstname, t('profile.details.firstname.description')) %>
				<%= f.text_field :firstname , class: 'form-control', placeholder: t('profile.details.firstname.description') %>
			</div>
			<div class="form-group col-lg-3">
				<%= label_tag(:middlename, t('profile.details.middlename.description')) %>
				<%= f.text_field :middlename , class: 'form-control' , placeholder: t('profile.details.middlename.description') %>
			</div>
			<div class="form-group col-lg-3">
				<%= label_tag(:lastname, t('profile.details.lastname.description')) %>
				<%= f.text_field :lastname,  class: 'form-control' , placeholder: t('profile.details.lastname.description') %>
			</div>
		</div>

		<%#
			Email Address
		#%>
		<div class="form-group">

			<%= label_tag(:email, t('profile.details.email.description')) %>
			<%= f.text_field :email, class: 'form-control', placeholder: t('profile.details.email.placeholder') %>

		</div>

		<%#
			Website
		#%>
		<div class="form-group">

			<%= label_tag(:website, t('profile.details.website.description')) %>
			<%= f.text_field :website,  class: 'form-control', placeholder: t('profile.details.website.placeholder')  %>

		</div>

		<%#
			Phone Number and Extention
		#%>
		<div class="form-group">

			<%= label_tag(:phone_number, t('profile.details.phone.description')) %>
			<%= f.text_field :phone_number ,  class: 'form-control', placeholder: t('profile.details.phone.placeholder')  %>

		</div>

		<%#
			Link to Twitter
		#%>
		<div class="form-group">

			<%= label_tag(:twitter, t('profile.details.twitter.description')) %>
			<%= f.text_field :twitter ,  class: 'form-control', placeholder: t('profile.details.twitter.placeholder')  %>

		</div>

		<%#
			Link to LinkedIn
		#%>
		<div class="form-group">

			<%= label_tag(:linkedin, t('profile.details.linkedin.description')) %>
			<%= f.text_field :linkedin ,  class: 'form-control', placeholder: "https://www.linkedin.com/in/user-name"  %>

		</div>

		<%#
			Link to Acadamia
		#%>
		<div class="form-group">

			<%= label_tag(:academia_edu, t('profile.details.academia_edu.description')) %>
			<%= f.text_field :academia_edu ,  class: 'form-control', placeholder: t('profile.details.academia_edu.placeholder')  %>

		</div>

	</div>

	<div class="card-style-1">

		<%#
			Add Affiliations
		#%>

		<h2 class="h4"><%= t('profile.headings.section.affiliations') %></h2>

		<div class="py-3">

			<fieldset>

				<%= label_tag :affiliations, t('profile.details.affiliation') , class: 'sr-only' %>

				<div id='affiliations'>
					<%= f.fields_for :affiliations do |affiliation| %>
						<%= render "affiliation_fields", :f => affiliation %>
					<% end %>
				</div>
				<div class="pt-3">
					<%= link_to_add_association t('profile.actions.buttons.add-affiliation'), f, :affiliations, class: "btn btn-outline-secondary" %>
				</div>

			</fieldset>

		</div>

	</div>


	<div class="card-style-1">

		<h2 class="h4"><%= t('profile.headings.section.research') %></h2>

		<%#
			Add Sectors
		#%>
		<div class="border-top py-3">

			<div class="form-group">

				<%= label_tag(:sector_ids, t('profile.details.sector.description') ) %>

				<% if I18n.locale == :en %>

					<%= f.collection_select :sector_ids, Sector.order(:english).all, :id, :english, {include_blank: 'Select sectors'} , { class: "js-example-basic-multiple-sectors" , multiple: true , :selected => @profile.sectors } %>

				<% elsif I18n.locale == :fr %>

					<%= f.collection_select :sector_ids, Sector.order(:french).all, :id, :french, { include_blank: 'Select sectors'} , { class: "js-example-basic-multiple-sectors" , multiple: true , :selected => @profile.sectors } %>


				<% end %>

				<small id="sectorsHelp" class="form-text text-muted"><%= t('profile.details.sector.help') %></small>


			</div>

		</div>

		<%#
			Add Sustainable Development Goals
		#%>
		<div class="border-top py-3">

			<div class="form-group">

				<%= label_tag(:sustainable_development_goal_ids, t('profile.details.sdg.description')) %>

				<div class="row">
					<% if I18n.locale == :en %>
						<%= f.collection_check_boxes(:sustainable_development_goal_ids, SustainableDevelopmentGoal.all, :id, :banner_en) do |b| %>
						<div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<%= b.check_box class: "custom-control-input" %>
								<%= b.label class: "custom-control-label" %>
							</div>
						</div>
						<% end %>
					<% elsif I18n.locale == :fr %>
						<%= f.collection_check_boxes(:sustainable_development_goal_ids, SustainableDevelopmentGoal.all, :id, :banner_fr) do |b| %>
						<div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<%= b.check_box class: "custom-control-input" %>
								<%= b.label class: "custom-control-label" %>
							</div>
						</div>
						<% end %>
					<% end %>
				</div>

			</div>

		</div>

		<%#
			Add Demographics
		#%>
		<div class="border-top py-3">

			<div class="form-group">

				<%= label_tag(:demographic_ids, t('profile.details.demographic.description')) %>

				<div class="row">

					<% if I18n.locale == :en %>
						<%= f.collection_check_boxes( :demographic_ids, Demographic.all, :id, :english) do |b| %>
						<div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<%= b.check_box class: "custom-control-input" %>
								<%= b.label class: "custom-control-label" %>
							</div>
						</div>
						<% end %>
					<% elsif I18n.locale == :fr %>
						<%= f.collection_check_boxes( :demographic_ids, Demographic.all, :id, :french) do |b| %>
						<div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<%= b.check_box class: "custom-control-input" %>
								<%= b.label class: "custom-control-label" %>
							</div>
						</div>
						<% end %>
					<% end %>

				</div>

			</div>

		</div>


		<%#
			Add Development Actors
		#%>
		<div class="border-top py-3">

			<div class="form-group">

				<%= label_tag(:development_actor_ids, t('profile.details.development-actor.description')) %>

				<div class="row">

					<% if I18n.locale == :en %>
						<%= f.collection_check_boxes(:development_actor_ids, DevelopmentActor.all, :id, :english) do |b| %>
						<div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<%= b.check_box class: "custom-control-input" %>
								<%= b.label class: "custom-control-label" %>
							</div>
						</div>
						<% end %>
					<% elsif I18n.locale == :fr %>
						<%= f.collection_check_boxes(:development_actor_ids, DevelopmentActor.all, :id, :french) do |b| %>
						<div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<%= b.check_box class: "custom-control-input" %>
								<%= b.label class: "custom-control-label" %>
							</div>
						</div>
						<% end %>
					<% end %>

				</div>

			</div>

		</div>

		<%#
			Add Research Methods
		#%>
		<div class="border-top py-3">

			<div class="form-group">

				<%= label_tag(:research_method_ids, t('profile.details.research-method.description')) %>

				<div class="row">

					<% if I18n.locale == :en %>
						<%= f.collection_check_boxes(:research_method_ids, ResearchMethod.all, :id, :english) do |b| %>
						<div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<%= b.check_box class: "custom-control-input" %>
								<%= b.label class: "custom-control-label" %>
							</div>
						</div>
						<% end %>
					<% elsif I18n.locale == :fr %>
						<%= f.collection_check_boxes(:research_method_ids, ResearchMethod.all, :id, :french) do |b| %>
						<div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<%= b.check_box class: "custom-control-input" %>
								<%= b.label class: "custom-control-label" %>
							</div>
						</div>
						<% end %>
					<% end %>

				</div>

			</div>

		</div>






	</div>

	<div class="card-style-1">

		<h2 class="h4"><%= t('profile.headings.section.location') %></h2>

		<%#
			Add Countries
		#%>
		<div class="border-top py-3">

			<div class="form-group">

				<%= label_tag(:country_ids, t('profile.details.country.description') ) %>

				<% if I18n.locale == :en %>

					<%= f.collection_select :country_ids, Country.order(:english).all, :id, :english, { include_blank: 'Select countries'} , { class: "js-example-basic-multiple-countries" , multiple: true , :selected => @profile.countries } %>

				<% elsif I18n.locale == :fr %>

					<%= f.collection_select :country_ids, Country.order(:french).all, :id, :french, { include_blank: 'Select countries'} , { class: "js-example-basic-multiple-countries" , multiple: true , :selected => @profile.countries } %>

				<% end %>

				<small id="countriesHelp" class="form-text text-muted"><%= t('profile.details.country.help') %></small>

			</div>

		</div>

		<%#
			Add Subregion
		#%>
		<div class="border-top py-3">

			<div class="form-group">

				<%= label_tag(:subregion_ids, t('profile.details.subregion.description') ) %>

				<div class="row">

					<% if I18n.locale == :en %>
						<%= f.collection_check_boxes(:subregion_ids, Subregion.all, :id, :english) do |b| %>
						<div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<%= b.check_box class: "custom-control-input" %>
								<%= b.label class: "custom-control-label" %>
							</div>
						</div>
						<% end %>
					<% elsif I18n.locale == :fr %>
						<%= f.collection_check_boxes(:subregion_ids, Subregion.all, :id, :french) do |b| %>
						<div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<%= b.check_box class: "custom-control-input" %>
								<%= b.label class: "custom-control-label" %>
							</div>
						</div>
						<% end %>
					<% end %>

				</div>

			</div>

		</div>


		<%#
			Add Regions
		#%>
		<div class="border-top py-3">

			<div class="form-group">

				<%= label_tag(:region_ids, t('profile.details.region.description') ) %>

				<div class="row">

					<% if I18n.locale == :en %>
						<%= f.collection_check_boxes(:region_ids, Region.all, :id, :english) do |b| %>
						<div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<%= b.check_box class: "custom-control-input" %>
								<%= b.label class: "custom-control-label" %>
							</div>
						</div>
						<% end %>
					<% elsif I18n.locale == :fr %>
						<%= f.collection_check_boxes(:region_ids, Region.all, :id, :french) do |b| %>
						<div class="col-md-4">
							<div class="custom-control custom-checkbox">
								<%= b.check_box class: "custom-control-input" %>
								<%= b.label class: "custom-control-label" %>
							</div>
						</div>
						<% end %>
					<% end %>

				</div>

			</div>

		</div>

	</div>

	<div class="card-style-1">
  		<%= f.submit "Submit" , class: "btn btn-lg btn-primary" %>
	</div>

<% end %>
