<div class="nested-fields">

	<%= label_tag("Position Title:") %>

	<% if false %>
	<% if I18n.locale == :en %>
		<%= f.collection_select :title_id, Title.all ,:id, :english %>
	<% elsif I18n.locale == :fr %>
		<%= f.collection_select :title_id, Title.all ,:id, :french %>
	<% end %>
	<% end %>
	<br />



	<div class="form-group">

		<%= label_tag(:department_en, "Department Name (English):") %>
		<%= f.text_field :department_en, class: 'form-control', placeholder: "Name of Department in English" %>

  	</div>

	<div class="form-group">

		<%= label_tag(:department_fr, "Department Name (French):") %>
		<%= f.text_field :department_en, class: 'form-control', placeholder: "Name of Department in French" %>

  	</div>

	<div class="form-group">

		<%= label_tag(:faculty_en, "Faculty Name (English):") %>
		<%= f.text_field :faculty_en, class: 'form-control', placeholder: "Faculty Name in French" %>

  	</div>

	<div class="form-group">

		<%= label_tag(:faculty_fr, "Faculty Name (French):") %>
		<%= f.text_field :faculty_fr, class: 'form-control', placeholder: "Faculty Name in French" %>

  	</div>

	<br />

    <%= link_to_remove_association "Remove position", f %>

</div>
