<div class="nested-fields">

	<div class="card-style-1">


		<div class="form-group">

			<%= label_tag(:title_id , t('profile.details.affiliation-organisation-position-title.description')) %>

			<% if I18n.locale == :en %>
				<%= f.collection_select :title_id, Title.order(:english).all ,:id, :english, {}, { multiple: false, class: "form-control" } %>
			<% elsif I18n.locale == :fr %>
				<%= f.collection_select :title_id, Title.order(:french).all ,:id, :french, {}, { multiple: false, class: "form-control" } %>
			<% end %>

		</div>


		<p class="text-muted pb-1 mb-1"><%= t('profile.details.affiliation-organisation-position-title.help') %></p>


		<div class="form-row">

			<div class="form-group col-lg-6">

				<%= label_tag(:department_en, t('profile.details.affiliation-organisation-position-department.description-en')) %>
				<%= f.text_field :department_en, class: 'form-control' %>

			</div>

			<div class="form-group col-lg-6">

				<%= label_tag(:department_fr,  t('profile.details.affiliation-organisation-position-department.description-fr')) %>
				<%= f.text_field :department_fr, class: 'form-control' %>

			</div>

		</div>

		<div class="form-row">

			<div class="form-group col-lg-6">

				<%= label_tag(:faculty_en, t('profile.details.affiliation-organisation-position-faculty.description-en')) %>
				<%= f.text_field :faculty_en, class: 'form-control' %>

			</div>

			<div class="form-group col-lg-6">

				<%= label_tag(:faculty_fr, t('profile.details.affiliation-organisation-position-faculty.description-fr')) %>
				<%= f.text_field :faculty_fr, class: 'form-control' %>

			</div>

		</div>

		<%= link_to_remove_association t('profile.actions.buttons.remove-position'), f , class: "btn btn-outline-secondary" %>

	</div>

</div>
