<div class="contact-information">

		<%#
			Display Contact Information
		#%>

		<ul class="list-unstyled">

			<%#
				Display Email
			#%>
			<li class="media align-items-center">
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
						width="35" height="35"
						viewBox="0 0 50 50"
						class="mr-2 mr-md-4 <%= @profile.email.present? ? "active" : "disabled" %>"
						style="fill:#000000;"><g xmlns="http://www.w3.org/2000/svg" id="surface1"><path style=" " d="M 0 7 L 0 9.875 L 25 29.7188 L 50 10.125 L 50 7 Z M 0 12.4063 L 0 43 L 50 43 L 50 12.6563 L 25.625 31.7813 C 25.4453 31.9219 25.2188 32 25 32 C 24.7813 32 24.5586 31.9258 24.375 31.7813 Z" /></g></svg>
				<div class="media-body">
					<h3 class="sr-only"><%= t('profiles.show.contact.email.heading') %></h3>
					<% if @profile.email.present? %>
						<span class="sr-only">Profile Email Address:</span> <%= mail_to @profile.email, @profile.email %>
					<% else %>
						<span class="font-italic"><%= t('profiles.show.contact.email.no-value') %></span>
					<% end %>
				</div>
			</li>

			<%#
				Display Phone Number and Extention
			#%>
			<li class="media my-3 align-items-center">
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
					width="35" height="35"
					viewBox="0 0 30 30"
					class="mr-2 mr-md-4 <%= @profile.phone_number.present? ? "active" : "disabled" %>"
					><path xmlns="http://www.w3.org/2000/svg" d="M 21.225 17.889 c -0.406 -0.238 -0.905 -0.233 -1.309 0.007 l -2.046 1.219 c -0.458 0.273 -1.03 0.241 -1.45 -0.087 c -0.726 -0.567 -1.895 -1.521 -2.912 -2.538 c -1.017 -1.017 -1.971 -2.186 -2.538 -2.912 c -0.328 -0.42 -0.36 -0.992 -0.087 -1.45 l 1.219 -2.046 c 0.241 -0.404 0.243 -0.907 0.005 -1.313 L 9.105 3.641 c -0.291 -0.496 -0.869 -0.74 -1.428 -0.603 C 7.134 3.17 6.429 3.492 5.69 4.232 c -2.314 2.314 -3.543 6.217 5.159 14.919 s 12.604 7.474 14.919 5.159 c 0.741 -0.741 1.062 -1.447 1.195 -1.991 c 0.135 -0.558 -0.105 -1.132 -0.6 -1.422 C 25.127 20.174 22.461 18.613 21.225 17.889 Z" /></svg>
				<div class="media-body">
					<h3 class="sr-only"><%= t('profiles.show.contact.website.heading') %></h3>
					<% if @profile.phone_number.present? %>
						<%= link_to @profile.phone_number, @profile.phone_number %>
					<% else %>
						<span class="font-italic"><%= t('profiles.show.contact.phone-number.no-value') %></span>
					<% end %>
				</div>
			</li>

			<%#
				Display Website
			#%>
			<li class="media">
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
					width="35" height="35"
					viewBox="0 0 50 50"
					class="mr-2 mr-md-4 <%= @profile.website.present? ? "active" : "disabled" %>"
					style=" fill:#000000;"><g xmlns="http://www.w3.org/2000/svg" id="surface1"><path style=" " d="M 25 2 C 12.2969 2 2 12.2969 2 25 C 2 37.7031 12.2969 48 25 48 C 37.7031 48 48 37.7031 48 25 C 48 12.2969 37.7031 2 25 2 Z M 25 4 C 34.4922 4 42.5234 10.3359 45.1133 19 L 43.0156 19 C 42.293 16.8477 41.1992 14.8711 39.8086 13.1406 C 38.5 13.75 37.0469 14.2813 35.4531 14.7031 C 35.8867 16.0625 36.2461 17.4961 36.5 19 L 34.4766 19 C 34.2383 17.6523 33.9102 16.3711 33.5195 15.1602 C 31.168 15.6445 28.6172 15.918 26 15.9766 L 26 19 L 24 19 L 24 15.9766 C 21.3867 15.918 18.8359 15.6406 16.4844 15.1563 C 16.0898 16.3711 15.7617 17.6523 15.5234 19 L 13.5 19 C 13.7578 17.4961 14.1133 16.0625 14.5469 14.7031 C 12.957 14.2773 11.4961 13.75 10.1875 13.1406 C 8.80078 14.875 7.70703 16.8477 6.98438 19 L 4.88281 19 C 7.47656 10.3359 15.5078 4 25 4 Z M 24 6.10156 C 22.7578 6.34375 21.5547 7.03125 20.418 8.16797 C 19.1328 9.44922 18.0469 11.2031 17.1836 13.2656 C 19.3203 13.6836 21.6289 13.9219 24 13.9766 Z M 26 6.10156 L 26 13.9766 C 28.375 13.9219 30.6797 13.6836 32.8164 13.2617 C 31.9453 11.1797 30.8438 9.41016 29.543 8.125 C 28.418 7.01563 27.2266 6.34375 26 6.10156 Z M 18.707 7.08203 C 16.0039 8.03516 13.5781 9.58984 11.5898 11.5781 C 12.6992 12.0547 13.9102 12.4766 15.2227 12.8164 C 16.1445 10.5391 17.3164 8.57031 18.707 7.08203 Z M 31.2852 7.08203 C 32.6797 8.57031 33.8516 10.5391 34.7773 12.8164 C 36.0898 12.4766 37.3047 12.0586 38.4102 11.5781 C 36.4219 9.58984 33.9961 8.03516 31.2852 7.08203 Z M 4 21 L 6.10156 21 L 7.63281 26.4961 L 9.48438 21 L 11.9258 21 L 13.7031 26.5898 L 15.2656 21 L 17.3281 21 L 14.8633 29 L 12.6875 29 L 10.6641 23.0195 L 8.64844 29 L 6.42578 29 Z M 18.3359 21 L 20.4336 21 L 21.9648 26.4961 L 23.8242 21 L 26.2617 21 L 28.043 26.5898 L 29.5977 21 L 31.6641 21 L 29.1992 29 L 27.0234 29 L 25 23.0195 L 22.9844 29 L 20.7617 29 Z M 32.6211 21 L 34.7305 21 L 36.2656 26.4961 L 38.1289 21 L 40.5781 21 L 42.3633 26.5898 L 43.9258 21 L 46 21 L 43.5234 29 L 41.3438 29 L 39.3125 23.0195 L 37.2852 29 L 35.0547 29 Z M 34.4766 31 L 36.5 31 C 36.2422 32.5039 35.8867 33.9375 35.4531 35.2969 C 37.043 35.7227 38.5039 36.25 39.8125 36.8594 C 41.1992 35.125 42.2969 33.1484 43.0156 31 L 45.1133 31 C 42.5234 39.6602 34.4922 46 25 46 C 15.5078 46 7.47656 39.6641 4.88281 31 L 6.98438 31 C 7.70703 33.1523 8.80078 35.1289 10.1914 36.8594 C 11.5 36.25 12.9531 35.7188 14.5469 35.2969 C 14.1133 33.9375 13.7539 32.5039 13.5 31 L 15.5234 31 C 15.7617 32.3477 16.0898 33.6289 16.4805 34.8398 C 18.832 34.3555 21.3828 34.082 24 34.0234 L 24 31 L 26 31 L 26 34.0234 C 28.6133 34.082 31.1641 34.3594 33.5156 34.8438 C 33.9102 33.6289 34.2383 32.3477 34.4766 31 Z M 24 36.0234 C 21.6367 36.0781 19.3438 36.3164 17.2188 36.7344 C 18.8672 40.6445 21.2891 43.3516 24 43.8945 Z M 26 36.0234 L 26 43.8945 C 27.2422 43.6523 28.4453 42.9648 29.582 41.8281 C 30.8672 40.5508 31.9531 38.7969 32.8164 36.7344 C 30.6797 36.3164 28.3711 36.0781 26 36.0234 Z M 34.7773 37.1836 C 33.8555 39.4609 32.6836 41.4297 31.293 42.918 C 33.9961 41.9648 36.4219 40.4102 38.4102 38.4219 C 37.3008 37.9453 36.0898 37.5234 34.7773 37.1836 Z M 15.1914 37.1875 C 13.8906 37.5313 12.6836 37.9414 11.5859 38.418 C 13.5625 40.3906 15.9648 41.9375 18.6484 42.8945 C 17.2813 41.4258 16.1133 39.4766 15.1914 37.1875 Z" /></g></svg>
				<div class="media-body">
					<h3 class="sr-only"><%= t('profiles.show.contact.website.heading') %></h3>
					<% if @profile.website.present? %>
						<%= link_to @profile.website, @profile.website %>
					<% else %>
						<span class="font-italic"><%= t('profiles.show.contact.website.no-value') %></span>
					<% end %>
				</div>
			</li>
		</ul>

</div>
