<h1 class="mb-4"><%= t('profile.headings.page.edit-profile') %></h1>

<% if @user.admin? %>

	<div class="card">
		<div class="card-body">

			<h5 class="card-title">Profile visibility:</h5>
			<%= form_for @profile, url: update_visibility_profile_path(@profile) do |f| %>

				<div class="form-check">
					<%= f.radio_button(:visible, "true") %>
					<%= label_tag(:visible, "Profile Visible") %>
				</div>
				<div class="form-check">
					<%= f.radio_button(:visible, "false") %>
					<%= label_tag(:visible, "Profile Hidden") %>
				</div>

				<%= f.submit "Update Visibility", :class => "btn btn-danger" %>

			<% end %>

		</div>
	</div>

<% end %>


<%= render "profiles/form" %>
