<h1>Profiles</h1>
<p>Find me in app/views/profiles/index.html.erb</p>

<% if (@profiles.length <= 0) %>
    <p>Sorry no items :-( </p>
  <% end %>

  <% @profiles.each do |item| %>
    <div class = "card card-item">
      <div class = "card-body">
        <h5 class = "card-title"><%= item.firstname %></h5>
        <h6 class = "card-subtitle mb-2 text-muted"><%= item.middlename %></h6>
        <p class = "card-text">
          <%= item.lastname %>
        </p>

		<%#
			View Sectors
		#%>
		<h6>Sectors:</h6>
		<% if (item.sectors.length <= 0) %>
			<p>Sorry no sectors :-( </p>
		<% end %>

		<% item.sectors.each do |sector| %>
			<% if I18n.locale == :en %>
  				<%= sector.english %>
			<% elsif I18n.locale == :fr %>
				<%= sector.french %>
			<% end %>

		<% end %>


		<%#
			View Demographics
		#%>
		<h6>Demographics:</h6>
		<% if (item.demographics.length <= 0) %>
			<p>Sorry no demographics listed here :-( </p>
		<% end %>

		<% item.demographics.each do |demographic| %>
			<% if I18n.locale == :en %>
  				<%= demographic.english %>
			<% elsif I18n.locale == :fr %>
				<%= demographic.french %>
			<% end %>

		<% end %>

		<%#
			View Development Actors
		#%>
		<h6>Development Actors:</h6>
		<% if (item.development_actors.length <= 0) %>
			<p>Sorry no Development Actors listed here :-( </p>
		<% end %>

		<% item.development_actors.each do |demographic| %>
			<% if I18n.locale == :en %>
  				<%= demographic.english %>
			<% elsif I18n.locale == :fr %>
				<%= demographic.french %>
			<% end %>

		<% end %>


      </div>
    </div>
  <% end %>
