
<h1 name="cont" id="cont" class="sr-only">Search Profiles:</h1>

<div class="profile-search-container">

	<%= form_tag(profiles_path, method: "get") do %>

		<div class="form-row align-items-center">
			<div class="col-6">
				<%= text_field_tag 'q', nil,  :value => @search_parameters['query']  , placeholder: t('home.search.placeholder'), class: "form-control form-control-lg"  %>
			</div>
			<div class="col-3 my-1">
				<select class="custom-select custom-select-lg form-control mr-sm-2" name="a">
					<option value="0" selected><%= t('home.search.sdg_dropdown') %></option>
						<% if I18n.locale == :en %>
							<%= options_from_collection_for_select(SustainableDevelopmentGoal.all, :id, :banner_en, @search_parameters['primary_sdg'] ) %>
						<% elsif I18n.locale == :fr %>
							<%= options_from_collection_for_select(SustainableDevelopmentGoal.all, :id, :banner_fr, @search_parameters['primary_sdg'] ) %>
						<% end %>
				</select>
			</div>
			<div class="col-3">
				<%= submit_tag t('home.search.button'),  { name: nil , class: "btn btn-lg btn-success btn-block" }  %>
			</div>
		</div>

		<div >
			<p><button class="btn btn-link-accent pl-0" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				<%= t('profile.index.search.advanced-filters.btn') %>
			</button></p>
		</div>


		<div class="collapse show" id="collapseExample">
			<div class="ps-advanced-filters">

				<div class="form-group">
					<label for=""><%= t('profile.index.search.advanced-filters.filter-sectors-label').html_safe %></label>

					<select class="custom-select custom-select-lg form-control mr-sm-2 js-example-basic-multiple-sectors" name="b[]" multiple="multiple">
						<% if I18n.locale == :en %>
							<%= options_from_collection_for_select(Sector.all, :id, :english, @search_parameters['sector_ids'] ) %>
						<% elsif I18n.locale == :fr %>

						<% end %>
					</select>

				</div>

				<div class="form-group">
					<label for=""><%= t('profile.index.search.advanced-filters.filter-demographics-label').html_safe %></label>

					<select class="custom-select custom-select-lg form-control mr-sm-2 js-example-basic-multiple-demographics" name="c[]" multiple="multiple">
						<% if I18n.locale == :en %>
							<%= options_from_collection_for_select(Demographic.all, :id, :english, @search_parameters['demographic_ids'] ) %>
						<% elsif I18n.locale == :fr %>
							<%= options_from_collection_for_select(Demographic.all, :id, :french, @search_parameters['demographic_ids'] ) %>
						<% end %>
					</select>

				</div>

				<%# Countries Filter %>
				<div class="form-group">
					<label for=""><%= t('profile.index.search.advanced-filters.filter-countries-label').html_safe %></label>

					<select class="custom-select custom-select-lg form-control mr-sm-2 js-example-basic-multiple-countries" name="e[]" multiple="multiple">
						<% if I18n.locale == :en %>
							<%= options_from_collection_for_select(Country.all.order(:english), :id, :english, @search_parameters['country_ids'] ) %>
						<% elsif I18n.locale == :fr %>
							<%= options_from_collection_for_select(Country.all, :id, :french, @search_parameters['country_ids'] ) %>
						<% end %>
					</select>

				</div>

				<%# Regions Filter %>
				<div class="form-group">
					<label for=""><%= t('profile.index.search.advanced-filters.filter-regions-label').html_safe %></label>

					<select class="custom-select custom-select-lg form-control mr-sm-2 js-example-basic-multiple-regions" name="f[]" multiple="multiple">
						<% if I18n.locale == :en %>
							<%= options_from_collection_for_select(Region.all, :id, :english, @search_parameters['region_ids'] ) %>
						<% elsif I18n.locale == :fr %>
							<%= options_from_collection_for_select(Region.all, :id, :french, @search_parameters['region_ids'] ) %>
						<% end %>
					</select>

				</div>

				<%# Sub Regions Filter %>
				<div class="form-group">
					<label for=""><%= t('profile.index.search.advanced-filters.filter-subregions-label').html_safe %></label>

					<select class="custom-select custom-select-lg form-control mr-sm-2 js-example-basic-multiple-subregions" name="g[]" multiple="multiple">
						<% if I18n.locale == :en %>
							<%= options_from_collection_for_select(Subregion.all, :id, :english, @search_parameters['subregion_ids'] ) %>
						<% elsif I18n.locale == :fr %>
							<%= options_from_collection_for_select(Subregion.all, :id, :french, @search_parameters['subregion_ids'] ) %>
						<% end %>
					</select>

				</div>

				<%# Development Actors Filter %>
				<div class="form-group">
					<label for=""><%= t('profile.index.search.advanced-filters.filter-development-actors-label').html_safe %></label>

					<select class="custom-select custom-select-lg form-control mr-sm-2 js-example-basic-multiple-development-actors" name="d[]" multiple="multiple">
						<% if I18n.locale == :en %>
							<%= options_from_collection_for_select(DevelopmentActor.all, :id, :english, @search_parameters['development_actor_ids'] ) %>
						<% elsif I18n.locale == :fr %>
							<%= options_from_collection_for_select(DevelopmentActor.all, :id, :french, @search_parameters['development_actor_ids'] ) %>
						<% end %>
					</select>

				</div>

				<div class="col-3 ml-auto">
					<%= submit_tag t('profile.index.search.advanced-filters.submit-button'),  { name: nil , class: "btn btn-outline-success btn-block" }  %>
				</div>

			</div>

		</div>

	<% end %>

</div>

<%= render 'list' %>
