<h1>New Profile</h1>
<p>Find me in app/views/profiles/new.html.erb</p>


<%= form_for @profile, url: {action: "create"}, html: {class: ""} do |profile| %>

	<%= profile.text_area :firstname %>

	<%= profile.text_area :middlename %>

	<%= profile.text_area :lastname %>

  	<%= profile.submit "Create" %>
<% end %>
