<h1>New Profile</h1>
<p>Find me in app/views/profiles/new.html.erb</p>


<%= form_for @profile do |p| %>

	<%= label_tag(:firstname, "First Name:") %>
	<%= p.text_area :firstname %>

	<%= label_tag(:middlename, "Middle Name:") %>
	<%= p.text_area :middlename %>

	<%= label_tag(:lastname, "Last Name:") %>
	<%= p.text_area :lastname %>


	<%#
		Add Sectors
	#%>
	<%= label_tag(:sector_ids, "Sectors:") %>

	<% if I18n.locale == :en %>
  		<%= p.collection_check_boxes :sector_ids, Sector.all, :id, :english %>
	<% elsif I18n.locale == :fr %>
		<%= p.collection_check_boxes :sector_ids, Sector.all, :id, :french %>
	<% end %>


	<%#
		Add Demographics
	#%>
	<%= label_tag(:demographic_ids, "Demographics:") %>

	<% if I18n.locale == :en %>
  		<%= p.collection_check_boxes :demographic_ids, Demographic.all, :id, :english %>
	<% elsif I18n.locale == :fr %>
		<%= p.collection_check_boxes :demographic_ids, Demographic.all, :id, :french %>
	<% end %>

  	<%= p.submit "Create" %>

<% end %>
