<h1 id="cont" name="cont">Manage Sectors</h1>

<%#
    Loop through all of the sectors
#%>

<div class="d-flex flex-row-reverse">
	<%= link_to 'New Sector', new_admin_sector_path(), { :class=>"btn btn-primary my-3" } %>
</div>

<div class="bg-white p-4 mt-3 mb-5" style="border-radius: 15px">

	<div class="table-responsive">

		<table class="table" id="admin-dashboard-vocab-sector-management">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">English</th>
					<th scope="col">French</th>
					<th scope="col">Actions</th>
			<thead>
			<tbody>
				<% @sectors.each_with_index do |sector,index| %>
					<tr>
						<td><%= index + 1 %></td>
						<td><%= sector.english %></td>
						<td><%= sector.french %></td>
						<td>

							<%#= link_to 'edit', edit_resource_path(sector) %>

							<%= link_to 'Edit', edit_admin_sector_path(sector) %>

							<%#= link_to 'Delete', admin_sector_path(sector), method: :delete, data: {confirm: "Are you sure?"} %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

	</div>

</div>
