<!-- Start Admin Nav -->

<ul class="nav justify-content-start flex-column flex-lg-row nav-pills nav-admin">
  <li class="nav-item">
	<%= link_to t('admin.dashboard.index.title'), admin_path() ,  class: current_page?(action: 'index') ? "nav-link active" : "nav-link" %>
  </li>
  <li class="nav-item">
	<%= link_to t('admin.dashboard.profile_management.title'), admin_profile_management_path() , class: current_page?(action: 'profile_management') ? "nav-link active" : "nav-link" %>
  </li>
  <li class="nav-item">
	<%= link_to t('admin.dashboard.user_management.title'), admin_user_management_path() ,class: current_page?(action: 'user_management') ? "nav-link active " : "nav-link" %>
  </li>
  <li class="nav-item">
	<%= link_to t('admin.dashboard.profile_requests.title'), admin_profile_requests_path() , class: current_page?(action: 'profile_requests') ? "nav-link active" : "nav-link"  %>
  </li>
  <li class="nav-item">
  <%= link_to t('admin.dashboard.vocabulary_management.title'), admin_vocabulary_management_path() , class: current_page?(action: 'vocabulary_management') ? "nav-link active " : "nav-link" %>
  </li>
  <li class="nav-item">
  <%= link_to t('admin.dashboard.content_management.title'), admin_content_management_path() , class: current_page?(action: 'content_management') ? "nav-link active " : "nav-link" %>
  </li>
</ul>

<!-- End Admin Nav -->
