<%= render "admin/dashboard/nav" %>

<h1 id="cont" name="cont"><%= t('admin.dashboard.index.headings.page')%></h1>
<p class="mb-0"><small>Welcome: <span class="text-secondary"><%= @user.email %></span></p>

<section>
	<h2 class="sr-only"><%= t('admin.dashboard.index.headings.section.statistics')%></h2>

	<div class="row">

		<div class="col col-md-6 col-lg-3">
			<div class="card-style-1">

				<div class="statistic">
					<span class="field">Profiles</span>
					<span class="value"><%= @profile_count %></span>
				</div>

			</div>
		</div>

		<div class="col col-md-6 col-lg-3">
			<div class="card-style-1">

				<div class="statistic">
					<span class="field">Users</span>
					<span class="value"><%= @user_count %></span>
				</div>

			</div>
		</div>

		<div class="col col-md-6 col-lg-3">
			<div class="card-style-1">

				<div class="statistic">
					<span class="field">Linked Profiles</span>
					<span class="value"><%= @profile_linked_count %></span>
				</div>

			</div>
		</div>

		<div class="col col-md-6 col-lg-3">
			<div class="card-style-1">

				<div class="statistic">
					<span class="field">Orphaned Profiles</span>
					<span class="value"><%= @profile_orphaned_count %></span>
				</div>

			</div>
		</div>

	</div>

	<div class="row">

		<div class="col">

			<div class="card-style-1">

				<div class="ct-chart ct-perfect-fourth"></div>

				<script>

					var data = {
						// A labels array that can contain any sort of values
						labels: [

							<% @search_profile_stats_for_days.each do |property, value| %>
								'<%= property %>',
							<% end %>

						],
						// Our series array that contains series objects or in this case series data arrays
						series: [
							[
								<% @search_profile_stats_for_days.each do |property, value| %>

									<%= value %>,

								<% end %>
							]
						]
					};

					// Create a new line chart object where as first parameter we pass in a selector
					// that is resolving to our chart container element. The Second parameter
					// is the actual data object.
					new Chartist.Line('.ct-chart', data);

				</script>

			</div>

		</div>

	</div>

	<div class="row">
		
		<div class="col">
			
			<h2 class="mt-5">Search Terms</h2>

			
			<% if @search_profile_terms_data.blank? %>

				<p>No search terms currently in the system</p>

			<% else %>

				<div class="bg-white p-4 mt-3 mb-5" style="border-radius: 15px">

					<table class="table" id="admin-dashboard-user-management">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Term</th>
								<th scope="col">Count</th>
						<thead>
						<tbody>

							<% @search_profile_terms_data.each_with_index do |term,index| %>

								<tr>
									<td>
										<%= index+1 %>
									</td>
									<td>
										<%= term["term"] %>
									</td>
									<td>
										<%= term["count"] %>
									</td>
								</tr>
							
							<% end %>
					
						</tbody>
					
					</table>

				</div>

			<% end %>

		</div>

	</div>

</section>
