<%= render "admin/dashboard/nav" %>

<h1 id="cont" name="cont">Profile Management</h1>

	<% if @profiles.blank? %>

		<p>No profiles currently in the system</p>

	<% else %>

		<div class="d-flex flex-row-reverse">
			<a href="profile_output.csv"><button class="btn btn-success mt-2">Export Profile Data</button></a>
		</div>

		<div class="bg-white p-4 mt-3 mb-5" style="border-radius: 15px">

			<div class="table-responsive">
			
				<table class="table" id="admin-dashboard-profile-management">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Affiliations</th>
							<th scope="col">Claimed</th>
							<th scope="col">Visible</th>
							<th scope="col">Actions</th>
							<!--<th scope="col">French</th>
							<th scope="col">Type</th>
							<th scope="col">Province</th>
							<th scope="col">Actions</th>-->
					<thead>
					<tbody>

						<% @profiles.each_with_index do |profile,index| %>

							<tr>
								<td>
									<%= index+1 %>
								</td>
								<td>
									<% if profile.prefix.present? %>
										<%= profile.prefix.english %>
									<% end %>
									<%= profile.full_name %>
								</td>
								<td>
									<%= profile.email unless profile.email.blank? %>
								</td>
								<td>

									<% if profile.affiliations.present? %>

										<% profile.affiliations.each do |affiliation| %>
											<% if I18n.locale == :en %>
												<%= affiliation.organisation.english %>
											<% elsif I18n.locale == :fr %>
												<%= affiliation.organisation.french %>
											<% end %>
										<% end %>

									<% else %>

										<p class="text-danger">No Affiliation Found</p>

									<% end %>

								</td>
								
								<td>
									<% if profile.user.present? %>
										<%= profile.user.email %>
									<% else %>
										Not Claimed
									<% end %>
									
								</td>

								<td>
									<% if profile.visible? %>
										<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
										<path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
										</svg>
									<% else %>
										<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-slash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
										<path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829z"/>
										<path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
										</svg>
									<% end %>

								</td>
								
								<td>
									<%= link_to 'Edit', edit_profile_path(profile) %>

									<%= link_to 'View', profile_path(profile) %>
								</td>

							</tr>

						<% end %>

					</tbody>
				</table>
			
			</div>
		
		</div>

	<% end %>


