
		<!--
			TO DO
			Finish Footer Section

		-->

		<!--
		<footer class=" wb-navcurr-inited" id="wb-info">
			<div class="brand">
				<div class="container">
					<div class="row">
						<nav class="col-md-10 ftr-urlt-lnk">
							<h2 class="wb-inv">About this Web application</h2>
							<ul>
								<li><a href="https://www.canada.ca/en/contact.html">Contact information</a></li><li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li><li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
							</ul>
						</nav>
						<div class="col-xs-6 visible-sm visible-xs tofpg">
							<a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span>
							</a>
						</div>
						<div class="col-xs-6 col-md-3 col-lg-2 text-right">
							<img alt="Symbol of the Government of Canada" src="../../../../gcweb/v4_0_30/assets/wmms-blk.svg">
						</div>
					</div>
				</div>
			</div>
		</footer>
		-->


		<!-- Start Footer Section -->
		<div class="global-footer">
			<footer>

				<h2><%= t('footer.heading') %></h2>

				<div class="gf-nav">
					<div class="container">

						<div class="row justify-content-between">

							<div class="col-md-6">

								<h3 class="gf-nav-brand"><%= t('application.title') %> </h3>

								<ul class="gf-links-list">
									<li>
										<%= link_to( t('navigation.links.home'), home_path ) %>
									</li>
									<li>
										<%= link_to( t('navigation.links.about'), about_path ) %>
									</li>
									<li>
										<%= link_to( t('navigation.links.tc'), about_path ) %>
									</li>
									<li>
										<%= link_to( t('navigation.links.privacy'), about_path ) %>
									</li>
									<li>
										<h4 class="sr-only"><%= t('footer.lang-selection') %></h4>
										<% if I18n.locale == I18n.default_locale %>
											<span class="fr"><%= link_to "Français", { :locale=>'fr' }  %></span>
										<% else %>
											<%= link_to "English", { :locale=>'en'} %>
										<%end%>
									</li>
								</ul>

							</div>
						</div>
					</div>
				</div>

				<div class="gf-copyright">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-12">
								<h3 class="sr-only"><%= t('footer.copyright.heading') %></h3>
								<p class="small">© <%= t('footer.copyright.notice') %></p>
							</div>
						</div>
					</div>
				</div>

			</footer>
		</div>
		<!-- End Footer Section -->

