<!--
	TO DO
	Add document structure
	Add custom navigation system
-->
<!-- Start Header Section -->

<!-- Start Global Header section -->
<div class="global-header">
	<header role="banner">
		<div class="container">
			<nav class="ng-navbar">

				<%= link_to home_path , :class => 'ng-navbar-brand' do %>
					<%= image_tag asset_path('brand/nextgen-database-logo.jpg'),  { width: "40", :class => "d-inline-block align-middle" , alt: "" } %>
					<%= t('application.title') %>
				<% end %>

				<div class="ng-navbar-links-container">

					<ul class="ng-navbar-links-list">
						<%#
							Header navigation links that are hidden
							in desktop but available in mobile

							Home
							About
							Terms and Conditions
							Privacy

							--
							Sign In
							Register
							--

							French
						%>
						<li class="link-hide">
							<%= link_to( t('navigation.links.home'), home_path ) %>
						</li>
						<li class="link-hide">
							<%= link_to( t('navigation.links.about'), about_path ) %>
						</li>
						<!--
						<li class="link-hide">
							<%= link_to( t('navigation.links.tc'), about_path ) %>
						</li>
						-->
						<!--
						<li class="link-hide">
							<%= link_to( t('navigation.links.privacy'), about_path ) %>
						</li>
						-->
						<% if user_signed_in? %>
						<%#
							TO DO: Add a button to the my profile page (when it's created)
						%>
							<% if current_user.admin? %>
							<li>
								<%= link_to('Admin', admin_path, :class=>"btn btn-outline-primary" ) %>
							</li>
							<% end %>
							<li>
								<%= link_to( t('navigation.links.my_account'), account_path, :class=>"btn btn-outline-primary ml-lg-2" ) %>
							</li>
							<li>
								<%= link_to( t('navigation.links.logout'), destroy_user_session_path, method: :delete, :class=>"btn btn-primary ml-lg-2" ) %>
							</li>
						<% else %>
							<li class="link-show-btn-outline-primary">
								<%= link_to( t('navigation.links.sign_in'), new_user_session_path)  %>
							</li>
							<li class="link-show-btn-primary ml-lg-2">
								<%= link_to( t('navigation.links.register') , new_user_registration_path ) %>
							</li>
						<% end %>

							<li class="ml-lg-2">
								<h4 class="sr-only"><%= t('footer.lang-selection') %></h4>
								<% if I18n.locale == I18n.default_locale %>
									<span lang="fr"><%= link_to "Français", { :locale=>'fr' }  %></span>
								<% else %>
									<%= link_to "English", { :locale=>'en'} %>
								<%end%>
							</li>
					</ul>

				</div>
			</nav>
		</div>
	</header>
</div>
