<!--
	TO DO
	Add document structure
	Add custom navigation system
-->
		<!--<div class="global-header">
			<header role="banner">

                <!-- Language Toggle and Brand
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img class="img-fluid" src="https://dummyimage.com/800x100/eee/000" alt="">
                        </div>
                        <div class="col-6">
                            <h2 class="sr-only"><%= t('header.lang-selection') %></h2>
                            <ul class="list-inline text-right">
                                <li class="list-inline-item">
                                    <% if I18n.locale == I18n.default_locale %>
                                        <%= link_to "Français", { :locale=>'fr' } %>
                                    <% else %>
                                        <%= link_to "English", { :locale=>'en' } %>
                                    <%end%>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>-->


				<!-- language toggle
				<div class="container">
					<h2 class="sr-only"><%= t('header.lang-selection') %></h2>
						<div class="row text-right">
							<div class="col-md-12">
								<ul class="list-inline">
									<li class="list-inline-item">
										<% if I18n.locale == I18n.default_locale %>
											<%= link_to "Français", { :locale=>'fr' } %>
										<% else %>
											<%= link_to "English", { :locale=>'en' } %>
										<%end%>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section> -->


				<!-- Nav bar
				<div class="container-fluid  bg-dark">
				<div class="container">
					<div class="row justify-content-end">
						<div class="col-1">
							<p>Hello</p>
						</div>
					</div>
				</div>
				</div>


			</header>
		</div> -->



		<div class="global-header">
			<header role="banner">

				<%= render 'partials/language-toggle' %>

				<%= render 'partials/brand-logo' %>

				<%= render 'partials/navigation-bar' %>

			</header>
		</div>
