<h1>Manage Demographic Factors</h1>

<%#
    Loop through all of the Demographics
#%>

<%= link_to 'New', new_admin_demographic_path(), { :class=>"btn btn-primary my-3" } %>

<table class="table" id="admin-dashboard-vocab-demographic-management">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">English</th>
			<th scope="col">French</th>
			<th scope="col">Actions</th>
	<thead>
	<tbody>
		<% @demographics.each_with_index do |demographic,index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= demographic.english %></td>
				<td><%= demographic.french %></td>
				<td>

					<%#= link_to 'edit', edit_resource_path(sector) %>

					<%= link_to 'Edit', edit_admin_demographic_path(demographic) %>

					<%#= link_to 'Delete', admin_demographic_path(demographic), method: :delete, data: {confirm: "Are you sure?"} %>

				</td>
			</tr>
		<% end %>
	</tbody>
</table>
