
<%= form_for [:admin, @organisation] do |f| %>
  <%#= render 'shared/error_messages', object: f.object #%>
  <div class="field">
    <%= f.text_area :english, placeholder: "English" %>
	<%= f.text_area :french, placeholder: "French" %>

	<%= f.collection_select :organisation_type_id, OrganisationType.all ,:id, :english, :include_blank => true %>

  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
