
<%= form_for [:admin, @organisation] do |f| %>
  <%#= render 'shared/error_messages', object: f.object #%>
  
  <%# English %>
  <div class="form-group">
    <%= label_tag(:english, "Organization Name (English Term):") %>
    <%= f.text_field :english, placeholder: "English", class: "form-control" %>
  </div>
  
  <%# French %>
  <div class="form-group">
    <%= label_tag(:english, "Organization Name (French Term):") %>
    <%= f.text_field :french, placeholder: "French", class: "form-control" %>
  </div>
  
  <%# English Abbreviation %>
  <div class="form-group">
    <%= label_tag(:abbreviation_en, "Abbreviation (English Term):") %>
    <%= f.text_field :abbreviation_en, placeholder: "English Abbreviation", class: "form-control" %>
  </div>
  
  <%# French Abbreviation %>
  <div class="form-group">
    <%= label_tag(:abbreviation_fr, "Abbreviation (French Term):") %>
    <%= f.text_field :abbreviation_fr, placeholder: "French Abbreviation", class: "form-control" %>
  </div>
  	
  <%# Organisation Type %>
  <div class="form-group">
    <%= label_tag(:organisation_type_id, "Organization Type:") %>
    <%= f.collection_select :organisation_type_id, OrganisationType.order(:english).all ,:id, :english, { include_blank: true }, { class: "form-control" } %>   
  </div>
  
  <%# Province %>
  <div class="form-group">
    <%= label_tag(:province_id, "Province of organization location:") %>
 	  <%= f.collection_select :province_id, Province.order(:english).all ,:id, :english, { prompt: true }, { class: "form-control" } %>
  </div>


  <%# Submit and cancel buttons %>
  <div class="form-group pt-2">
    <%= link_to "Cancel", admin_organisations_path() , class: "btn btn-secondary" %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>
