<div class="account">

	<h1><%= t('account.index.heading') %></h1>

	<p class="mb-0"><small><%= t('account.index.welcome') %>: <span class="text-secondary"><%= @user.email %></span></p>

	<section>
		<div class="mt-4">

			<h2><%= t('account.index.profile-info.heading') %></h2>


			<% unless @user.confirmed? %>

			<div class="card-style-1">

				<%= t('account.index.profile-info.email-confirmation-message').html_safe %>

			</div>

			<% else %>

				<%#
				# If the user has a profile then display some
				# profile information with an edit button
				#
				# If the user doesn't have a profile show links
				# to create a new profile or drop down to claim
				# a profile and a submit button
				#
				# If a profile is in the process of being claimed
				# then show that and the status of the claim
				#
				#%>

				<% if @valid_profile %>

					<div class="card-style-1">

						<dl class="row">

							<dt class="col-sm-3"><%= t('profile.details.name.description') %>:</dt>
							<dd class="col-sm-9">
								<% if @user_profile.prefix.present? %>
									<% if I18n.locale == :en %>
										<%= @user_profile.prefix.english %>
									<% elsif I18n.locale == :fr %>
										<%= @user_profile.prefix.french %>
									<% end %>
								<% end %><%= @user_profile.firstname %> <%= @user_profile.middlename %> <%= @user_profile.lastname %></dd>

							<dt class="col-sm-3"><%= t('profile.details.email.description') %>:</dt>
							<dd class="col-sm-9"><%== @user_profile.email.blank? ? "<span class='text-danger'>#{t('profile.details.email.no-value')}</span>" : @user_profile.email %></dd>

							<dt class="col-sm-3"><%= t('profile.details.phone.description') %>:</dt>
							<dd class="col-sm-9"><%== @user_profile.phone_number.blank? ? "<span class='text-danger'>#{t('profile.details.phone.no-value')}</span>" : @user_profile.phone_number %></dd>

							<dt class="col-sm-3"><%= t('profile.details.website.description') %>:</dt>
							<dd class="col-sm-9 text-truncate"><%== @user_profile.website.blank? ? "<span class='text-danger'>#{t('profile.details.website.no-value')}</span>" : @user_profile.website %></dd>

						</dl>

						<% if false %>

							<h3><%= t('account.index.profile-research-info.heading') %></h3>

							<dl class="row">

								<dt class="col-sm-3">Profile SDGs:</dt>
								<dd class="col-sm-9"><%== @user_profile.sustainable_development_goals.count > 0 ? "Yes" : "No" %></dd>

								<dt class="col-sm-3">Profile Sectors:</dt>
								<dd class="col-sm-9"><%== @user_profile.sectors.count > 0 ? "Yes" : "No" %></dd>

								<dt class="col-sm-3">Profile Demographics:</dt>
								<dd class="col-sm-9"><%== @user_profile.demographics.count > 0 ? "Yes" : "No" %></dd>

								<dt class="col-sm-3">Profile Development Actors:</dt>
								<dd class="col-sm-9"><%== @user_profile.development_actors.count > 0 ? "Yes" : "No" %></dd>

								<dt class="col-sm-3">Profile Research Methods:</dt>
								<dd class="col-sm-9"><%== @user_profile.research_methods.count > 0 ? "Yes" : "No" %></dd>

								<dt class="col-sm-3">Profile Countries:</dt>
								<dd class="col-sm-9"><%== @user_profile.countries.count > 0 ? "Yes" : "No" %></dd>

								<dt class="col-sm-3">Profile Subregions:</dt>
								<dd class="col-sm-9"><%== @user_profile.subregions.count > 0 ? "Yes" : "No" %></dd>

								<dt class="col-sm-3">Profile Regions:</dt>
								<dd class="col-sm-9"><%== @user_profile.regions.count > 0 ? "Yes" : "No" %></dd>


							</dl>

						<% end %>

						<%= link_to t('profile.actions.buttons.edit-profile') , edit_profile_path(id: @user_profile.id), :class => "btn btn-large btn-primary" %>

						<%= link_to t('profile.actions.buttons.view-profile') , profile_path(id: @user_profile.id), :class => "btn btn-large btn-outline-secondary" %>

					</div>

				<% else %>


				<%#
					State Machine:

					State A: The user doesn't have any profile request
							Show them the create profile button
							Show them the profile request block

					State B: The user has a request that is in a not set state
							Show them the request with the cancel buttom
							Disable the new profile buttom

					State C: The user has a request that was denied
							Show them the request/s that was denied
							Show them the create profile button
				#%>





				<%#
					If all of the profile requests for the user that are not set or denied
					When do we show the request profile form?
					We show it when there isn't an outstanding not set
				#%>

					<% if @user_profile_requests_not_set.blank? %>

						<p><%= t('account.index.profile-info.create-new-profile.message') %></p>

						<div class="card-style-1">

							<h4 class="card-title"><%= t('account.index.profile-info.create-new-profile.step-1.heading') %></h4>

							<%= form_for [:admin, ProfileRequest.new] do |f| %>

								<% if false %>
								<div class="form-group">

									<%= f.select :profile_id, options_from_collection_for_select(@available_profiles_collection, :id, :full_name), { include_blank: false }, { class: 'form-control', 'data-placeholder': t('devise.registrations.edit.step1_placeholder'), 'data-width': 'element', 'data-allowClear': true } %>

								</div>

								<% end %>

								<div class="form-group">
									<%= label_tag(:profile_id,  t('account.index.profile-info.create-new-profile.step-1.profile-search.label') ) %>

									<%= f.select :profile_id, options_from_collection_for_select(@available_profiles_collection, :id, :full_name), { include_blank: true }, { class: 'custom-select custom-select-lg form-control-lg mr-sm-2 js-example-basic-search-profile', 'data-placeholder':  t('account.index.profile-info.create-new-profile.step-1.profile-search.label'), 'data-width': 'element', 'data-allowClear': true } %>

								</div>

								<%= f.submit t('account.index.profile-info.create-new-profile.step-1.profile-search.btn'), class: "btn btn-primary" %>

							<% end %>

						</div>

						<div class="card-style-1">

							<h4 class="card-title"><%= t('account.index.profile-info.create-new-profile.step-2.heading') %></h4>

							<p><%= t('account.index.profile-info.create-new-profile.step-2.profile-new.label') %></p>

							<%= link_to t('account.index.profile-info.create-new-profile.step-2.profile-new.btn'), new_profile_path, :class => "btn btn-large btn-primary" %>

						</div>

					<% end %>

				<%#
					List all of the profile requests for the user that are not set or denied
				#%>
					<% if !@user_profile_requests_not_set.blank? %>

						<div class="account-alert-card" role="alert">

							<h3 class="alert-heading"><%= t('account.index.profile-info.pending-request-profile.heading') %></h3>

							<% @user_profile_requests_not_set.each do |profile_request| %>

								<p><%= t('account.index.profile-info.pending-request-profile.message_html' , name: Profile.find_by(id: profile_request.profile_id).full_name , href: profile_path(profile_request.profile_id), class: "alert-link" ) %></p>

								<%= form_for [:admin, profile_request] do |f| %>

									<%#= render 'shared/error_messages', object: f.object #%>
									<%= f.hidden_field :status, {value: 'user_cancelled'} %>

									<%= f.submit t('account.index.profile-info.pending-request-profile.cancel-btn'), class: "btn btn-outline-primary" %>

								<% end %>

							<% end %>
						</div>


					<% end %>

					<% if !@user_profile_requests_denied.blank? %>

						<h3>Denied Profile Requests:</h3>

						<table class="table">
							<thead>
								<tr>
								<th scope="col">User Account</th>
								<th scope="col">Profile Name</th>
								<th scope="col">Status</th>
								<th scope="col">Updated At</th>
								</tr>
							</thead>
							<tbody>
								<% @user_profile_requests_denied.each do |profile_request| %>
									<tr>
									<td scope="row"><%= @user.email %></td>
									<td><%= link_to Profile.find_by(id: profile_request.profile_id).full_name, profile_path(profile_request.profile_id) %></td>
									<td>Denied</td>
									<td><%= profile_request.updated_at %></td>
									</tr>
								<% end %>
							</tbody>
						</table>

					<% end %>


				<% end %>

			<% end %>

		</div>

	</section>

	<section>
		<div class="mt-5">

			<h2><%= t('account.index.account-info.heading') %></h2>

			<div class="card-style-1">

				<dl class="row">
					<dt class="col-sm-3"><%= t('account.index.account-info.details.email') %>:</dt>
					<dd class="col-sm-9"><%= @user.email %></dd>
					<dt class="col-sm-3"><%= t('account.index.account-info.details.password') %>:</dt>
					<dd class="col-sm-9">********</dd>
				</dl>

				<%= link_to t('account.index.account-info.details.edit-btn') , edit_user_registration_path, :class => "btn btn-outline-secondary" %>

				</div>

		</div>

	</section>

</div>
