<h1><%= t('account.show.heading') %></h1>

<section>
	<h2>Account Information</h2>



	<dl class="row">
		<dt class="col-sm-3">Account Email:</dt>
		<dd class="col-sm-9"><%= @user.email %></dd>
	</dl>

	<%= link_to "Change your password", edit_user_registration_path %>

</section>


<section>
	<h2>Profile Information</h2>

	<%#
	  # If the user has a profile then display some
	  # profile information with an edit button
	  #
	  # If the user doesn't have a profile show links
	  # to create a new profile or drop down to claim
	  # a profile and a submit button
	  #
	  # If a profile is in the process of being claimed
	  # then show that and the status of the claim
	  #
	  #%>

	<% if @valid_profile %>


		<dl class="row">
			<dt class="col-sm-3">Profile Email:</dt>
			<dd class="col-sm-9"><%= @user_profile.email %></dd>

			<dt class="col-sm-3">Profile First Name:</dt>
			<dd class="col-sm-9"><%= @user_profile.firstname %></dd>

			<dt class="col-sm-3">Profile Last Name:</dt>
			<dd class="col-sm-9"><%= @user_profile.lastname %></dd>
		</dl>

		<%= link_to "View Profile", profile_path(id: @user_profile.id), :class => "btn btn-large btn-secondary" %>


		<%= link_to "Edit Profile Informaton", edit_profile_path(id: @user_profile.id), :class => "btn btn-large btn-primary" %>



	<% else %>

		<h2>We don't have a valid profile accociated with this user</h2>

		<p>Press New Profile below to add a new profile or claim an existing profile</p>

		<%= link_to "New Profile", new_profile_path, :class => "btn btn-large btn-primary" %>

		<p>Or select an existing profile to claim</p>

		<p>....</p>

		<%#
			If all of the profile requests for the user that are not set or denied
			When do we show the request profile form?
			We show it when there isn't an outstanding not set
		#%>
		<% if @user_profile_requests_not_set.blank? %>

			THere are no Profile Requests That are not set so show the profile request form:

			<%= form_for [:admin, ProfileRequest.new] do |f| %>

			 	<%= f.select :profile_id, options_from_collection_for_select(Profile.order(:lastname), :id, :firstname), { include_blank: true }, { class: 'form-control input-text-field input-lg', 'data-placeholder': t('devise.registrations.edit.step1_placeholder'), 'data-width': 'element', 'data-allowClear': true } %>

				  <%= f.submit "Post", class: "btn btn-primary" %>

			<% end %>



		<% end %>

		<%#
			List all of the profile requests for the user that are not set or denied
		#%>
		<% if !@user_profile_requests_not_set.blank? || !@user_profile_requests_denied.blank? %>

			Profile Requests Exist That are not set or denied

			<ul>
				<% @user_profile_requests_not_set.each do |pr| %>
					<li>
						User_id: <%= pr.user_id %> <br />
						Profile_id: <%= pr.profile_id %> <br />
						Status: <%= pr.status %> <br />
						<%= form_for [:admin, pr] do |f| %>


							<%#= render 'shared/error_messages', object: f.object #%>
							<%= f.hidden_field :status, {value: 'user_cancelled'} %>

							<%= f.submit "Cancel Profile Request", class: "btn btn-primary" %>



						<% end %>

					</li>
				<% end %>

				<% @user_profile_requests_denied.each do |profile_request| %>
					<li>
						User_id: <%= profile_request.user_id %> <br />
						Profile_id: <%= profile_request.profile_id %> <br />
						Status: <%= profile_request.status %> <br />
					</li>
				<% end %>

			</ul>

		<% end %>

	<% end %>


</section>
