<!doctype html>
<html lang="en">
	<head>

	    <!-- Required meta tags -->
	    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<%= csrf_meta_tags %>
    	<%= csp_meta_tag %>

    	<title>NextgenDatabase</title>

		<!-- Required CSS files -->
    	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

	</head>

	<body>


		<%= render 'partials/accessibility' %>

		<%= render 'partials/header' %>

		<div class="container">
			<main property="mainContentOfPage">

				<h1>Hello, world!</h1>


				<%= yield %>


			</main>
		</div>

		<%= render 'partials/footer' %>

		<!-- JavaScript -->
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	</body>
</html>
