<!doctype html>
<%# Set the HTML local to en or fr %>
<html <% if I18n.locale == :en %>lang="en"<% elsif I18n.locale == :fr %>lang="fr"<% end %>>
	<head>

	    <!-- Required meta tags -->
	    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<%= csrf_meta_tags %>
    	<%= csp_meta_tag %>

    	<title>Nextgen Database</title>

		<!-- Required CSS files -->
    	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

		<!-- Required JavaScript file -->
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<!-- Favicon -->
		<%= favicon_link_tag asset_path('favicon/favicon.png') , rel: 'icon', type: 'image/png' %>

	</head>

	<body class="<%= current_page?(root_path) || current_page?(home_path) ? 'home' : 'page' %> <%= controller.class.parents.include?(Admin) ? 'admin' : '' %>">

		<%= render 'partials/accessibility' %>

		<%= render 'partials/header' %>

		<div class="global-main">
			<%#
			  #  If the current page is the home page
			  #  then don't write the container div in
			  #
			  #%>
			<% unless current_page?(root_path) || current_page?(home_path) %>
  			<div class="container">
			<% end %>

				<main property="mainContentOfPage">

					<%= yield %>

				</main>
			<% unless current_page?(root_path) || current_page?(home_path) %>
  			</div >
			<% end %>

		</div>

		<%= render 'partials/footer' %>

	</body>
</html>
