<!doctype html>
<%# Set the HTML local to en or fr %>
<html <% if I18n.locale == :en %>lang="en"<% elsif I18n.locale == :fr %>lang="fr"<% end %>>
	<head>

	    <!-- Required meta tags -->
	    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<%= csrf_meta_tags %>
    	<%= csp_meta_tag %>

    	<title>Nextgen Database</title>

		<!-- Required CSS files -->
    	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

	</head>

	<body>


		<%= render 'partials/accessibility' %>

		<%= render 'partials/header' %>

		<div class="global-main">
			<div class="container">
				<main property="mainContentOfPage">

					<%= yield %>

				</main>
			</div>
		</div>

		<%= render 'partials/footer' %>

		<!-- JavaScript -->
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	</body>
</html>
